*
{
	box-sizing: border-box;
}
/*style the body*/
body
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('Home page background.jpg');
	background-repeat: no-repeat;
 	background-attachment: fixed;
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
	font-family: Arial, helvetica, sans-serif;
	margin: 0;
}
/*header/logo title*/
.header
{	
	opacity: .6;
	padding: 80px;
	text-align: center;
	background: purple;
	color: white;
}
/*increase the font size of the heading*/
.header h1
{
	font-size: 40px;
}
.navbar
{
	overflow: hidden;
	background-color: #333;
	top: 0;
}
/*style the navigation bar links*/
.navbar a
{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}
/*right aligned link*/
.navbar a.right
{
	float: right;
}
.navbar a:hover
{
	background-color: purple;
}
/*column container*/
.row
{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:wrap;
	flex-wrap: wrap;
}
/*create two unequal columns that sits next to each other*/
/*sidebar/left column*/
.side
{
	flex: 20%;/*set the width of the sidebar*/
	background-color: black;/*black background color*/
	padding: 20px;/*some padding*/
	opacity: .7;
	height: 2000px;
}
.side a
{
	text-decoration: none;
	font-size: 30px;
	letter-spacing: 10px;
}
.side a:hover
{
	color: white;
}
.glamer-box
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 9vh;
	background: #060c21;
	font-family:'Poppins', sans-serif;
	position: relative;
	color: yellow;
}
.glamer-box:before
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right:-2px;
	bottom: -2px;
	background:#fff;
	z-index: -1; 
}
.glamer-box:after
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right:-2px;
	bottom: -2px;
	background:#fff;
	z-index: -2;
	filter:blur(40px); 
}
.glamer-box:before, .glamer-box:after
{
	background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}
.main
{
	-ms-flex: 70%;
	flex: 70%;
	background-color: white;
	padding: 20px;
	opacity: .9;
}
/*fake image*/
.fakeing
{
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}
/*footer*/
.footer
{
	padding: 20px;
	text-align: center;
	background: #ddd;
}
.title
{
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.title:hover{opacity: 0.7;color: black;}
/*Add animation - zoom the vision and mission*/
.title
{
	animation-name: zoom;
	animation-duration: 0.6s;
}
.navbar .search-container {
  	float: right;
}
.navbar input[type=text] {
  	padding: 6px;
  	margin-top: 8px;
  	font-size: 17px;
 	border: none;
}
.navbar .search-container button {
  	float: right;
  	padding: 6px 10px;
  	margin-top: 8px;
 	margin-right: 16px;
  	background: #ddd;
  	font-size: 17px;
  	border: none;
  	cursor: pointer;
}
.navbar .search-container button:hover {
  	background: #ccc;
}
@keyframes zoom
{
	from{transform: scale(0);}
	to{transform: scale(1);}
}
/*responsive layout*/
@media screen and(max-width: 700px)
{
	.row
	{
		flex-direction: column;
	}
}
/*responsive layout*/
@media screen and(max-width: 400px)
{
	.navbar a
	{
		float: none;
		width: 100%;
	}
}
.footer-main
{
	padding: 20px;/*some padding*/
	text-align: center;
	background: #272727;
}
.social-icons
{
	width: 100%;
	height: auto;
	margin: auto;
}
.social-icons ul
{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.social-icons ul li
{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background-color: purple;
}
.social-icons ul li a
{
	color: #272727;
	font-size: 25px;
}
.social-icons ul li a i
{
	line-height: 50px;
}
.footer-bottom
{
	width: 100%;
	height: auto;
	margin: auto;
	background: purple;
	padding: 0px;
}
.footer-bottom p
{
	font-family: arial; 
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
}
.social
{
	position: fixed;
	top: 0;
}
.social a
{
	color: blue;
	letter-spacing: 5px;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover
{
	color: white;
}
.social ul
{
	list-style-type: none;
	padding: 0;
	transform: translateX(-270px);
}
.social ul li
{
	display: block;
	margin: 5px;
	background-color: white;
	width: 300px;
	text-align: right;
	padding: 10px; 
	border-radius: 0 30px 30px 0;
	transition: all 1s;
}
.social ul li:hover
{
	transform: translateX(250px);
}
.social ul li.twitter:hover
{
	background-color: #55acee;
}
.social ul li.facebook:hover
{
	background-color: #3d5999;
}
.social ul li.instagram:hover
{
	background-color: #e4405f;
}
.social ul li.youtube:hover
{
	background-color: red;
}
.social ul li.sign-in:hover
{
	background-color: purple;
}
.social ul li i
{
	text-align: center;
	margin-left: 14px;
	padding: 10px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 20px;
	transform: rotate(0deg);
}
.social ul li:hover i
{
	transform: rotate(360deg);
	transition: all 1s;
}
.card 
{
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	max-width: 300px;
	display : inline-block;
  	text-align: center;
  	font-family: arial;
}
.card:hover
{
	opacity: 0.7;
}
.price 
{
  	color: grey;
 	font-size: 22px;
}
.card button {
  	border: none;
  	outline: 0;
  	padding: 12px;
  	color: Black;
  	background-color: #39ff33;
  	text-align: center;
  	cursor: pointer;
  	width: 80%;
  	font-size: 18px;
}
.card button:hover {
  	background-color: orange;
}
.main .card
{
	float: left;
}
.section a
{
	color: yellow;
}